#loading-backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1100;
    display: flex;
    align-content: center;
    justify-content: center;
}

#loading-backdrop.ng-enter, #loading-backdrop.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

#loading-backdrop.ng-enter,
#loading-backdrop.ng-leave.ng-leave-active {
    opacity:0;
}

#loading-backdrop.ng-leave,
#loading-backdrop.ng-enter.ng-enter-active {
    opacity:1;
}
  


.spinner,
.spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.spinner {
    align-self: center;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-bottom: 0.8em solid #ffffff;
    border-left: 0.8em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.6s infinite linear;
    animation: load8 0.6s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
